.MainContent {
    margin: 20px auto;
    width: 1050px;
    height: 700px;
    background-color: #fff;
    border: 1px solid #eceeef;
    border-radius: 10px;
    z-index: 999;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
}

.EncodedBlock {
    margin: 20px auto;
    width: 1000px;
    height: 180px;
    border: 1px solid #eceeef;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
}

.TokenHeader {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 40px;
    background-color: #eceeef;
    line-height: 40px;
}

.TokenString {
    margin: 20px auto;
    padding: 10px;
    width: 950px;
    height: 90px;
    border: 1px solid #dddfe0;
    border-radius: 10px;
    outline: none;
    resize: none;
    font-size: 18px;
}

.CheckBlock {
    display: flex;
    justify-content: space-between;
    margin: 40px 20px 30px 20px;
}

.VerifyBlock {
    margin: 15px 0 0 10px;
}

