.TopBar {
    background-color: #20272a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70px;
    color: white;
    z-index: 999;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
}
.wrapper {
    height: inherit;
    width: 1020px;
}
.Logo {
    margin-top: 7px;
    height: inherit;
    width: 400px;
    background: url("logo.png") no-repeat;
    background-size: 200px;
}